[submodule "submodules/hyprwm/aquamarine"]
	path = submodules/hyprwm/aquamarine
	url = https://github.com/hyprwm/aquamarine
[submodule "submodules/hyprwm/hyprcursor"]
	path = submodules/hyprwm/hyprcursor
	url = https://github.com/hyprwm/hyprcursor
[submodule "submodules/hyprwm/hyprgraphics"]
	path = submodules/hyprwm/hyprgraphics
	url = https://github.com/hyprwm/hyprgraphics
[submodule "submodules/hyprwm/hypridle"]
	path = submodules/hyprwm/hypridle
	url = https://github.com/hyprwm/hypridle
[submodule "submodules/hyprwm/Hyprland"]
	path = submodules/hyprwm/Hyprland
	url = https://github.com/hyprwm/Hyprland
[submodule "submodules/hyprwm/hyprland-guiutils"]
	path = submodules/hyprwm/hyprland-guiutils
	url = https://github.com/hyprwm/hyprland-guiutils
[submodule "submodules/hyprwm/hyprland-plugins"]
	path = submodules/hyprwm/hyprland-plugins
	url = https://github.com/hyprwm/hyprland-plugins
[submodule "submodules/hyprwm/hyprland-protocols"]
	path = submodules/hyprwm/hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols
[submodule "submodules/hyprwm/hyprland-qt-support"]
	path = submodules/hyprwm/hyprland-qt-support
	url = https://github.com/hyprwm/hyprland-qt-support
[submodule "submodules/hyprwm/hyprland-qtutils"]
	path = submodules/hyprwm/hyprland-qtutils
	url = https://github.com/hyprwm/hyprland-qtutils
[submodule "submodules/hyprwm/hyprland-welcome"]
	path = submodules/hyprwm/hyprland-welcome
	url = https://github.com/hyprwm/hyprland-welcome
[submodule "submodules/hyprwm/hyprlang"]
	path = submodules/hyprwm/hyprlang
	url = https://github.com/hyprwm/hyprlang
[submodule "submodules/hyprwm/hyprlauncher"]
	path = submodules/hyprwm/hyprlauncher
	url = https://github.com/hyprwm/hyprlauncher
[submodule "submodules/hyprwm/hyprlock"]
	path = submodules/hyprwm/hyprlock
	url = https://github.com/hyprwm/hyprlock
[submodule "submodules/hyprwm/hyprpaper"]
	path = submodules/hyprwm/hyprpaper
	url = https://github.com/hyprwm/hyprpaper
[submodule "submodules/hyprwm/hyprpicker"]
	path = submodules/hyprwm/hyprpicker
	url = https://github.com/hyprwm/hyprpicker
[submodule "submodules/hyprwm/hyprpolkitagent"]
	path = submodules/hyprwm/hyprpolkitagent
	url = https://github.com/hyprwm/hyprpolkitagent
[submodule "submodules/hyprwm/hyprpwcenter"]
	path = submodules/hyprwm/hyprpwcenter
	url = https://github.com/hyprwm/hyprpwcenter
[submodule "submodules/hyprwm/hyprqt6engine"]
	path = submodules/hyprwm/hyprqt6engine
	url = https://github.com/hyprwm/hyprqt6engine
[submodule "submodules/hyprwm/hyprshutdown"]
	path = submodules/hyprwm/hyprshutdown
	url = https://github.com/hyprwm/hyprshutdown
[submodule "submodules/hyprwm/hyprsunset"]
	path = submodules/hyprwm/hyprsunset
	url = https://github.com/hyprwm/hyprsunset
[submodule "submodules/hyprwm/hyprsysteminfo"]
	path = submodules/hyprwm/hyprsysteminfo
	url = https://github.com/hyprwm/hyprsysteminfo
[submodule "submodules/hyprwm/hyprtoolkit"]
	path = submodules/hyprwm/hyprtoolkit
	url = https://github.com/hyprwm/hyprtoolkit
[submodule "submodules/hyprwm/hyprutils"]
	path = submodules/hyprwm/hyprutils
	url = https://github.com/hyprwm/hyprutils
[submodule "submodules/hyprwm/hyprwayland-scanner"]
	path = submodules/hyprwm/hyprwayland-scanner
	url = https://github.com/hyprwm/hyprwayland-scanner
[submodule "submodules/hyprwm/hyprwire"]
	path = submodules/hyprwm/hyprwire
	url = https://github.com/hyprwm/hyprwire
[submodule "submodules/hyprwm/xdg-desktop-portal-hyprland"]
	path = submodules/hyprwm/xdg-desktop-portal-hyprland
	url = https://github.com/hyprwm/xdg-desktop-portal-hyprland
[submodule "submodules/Jas-SinghFSU/HyprPanel"]
	path = submodules/Jas-SinghFSU/HyprPanel
	url = https://github.com/Jas-SinghFSU/HyprPanel.git
[submodule "submodules/Gustash/Hyprshot"]
	path = submodules/Gustash/Hyprshot
	url = https://github.com/Gustash/Hyprshot.git
[submodule "submodules/wmww/gtk4-layer-shell"]
	path = submodules/wmww/gtk4-layer-shell
	url = https://github.com/wmww/gtk4-layer-shell.git
[submodule "submodules/stephenberry/glaze"]
	path = submodules/stephenberry/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "submodules/Aylur/ags"]
	path = submodules/Aylur/ags
	url = https://github.com/Aylur/ags.git
[submodule "submodules/hyprland-community/pyprland"]
	path = submodules/hyprland-community/pyprland
	url = https://github.com/hyprland-community/pyprland.git
[submodule "submodules/Alexays/Waybar"]
	path = submodules/Alexays/Waybar
	url = https://github.com/Alexays/Waybar.git
[submodule "submodules/git/sndio"]
	path = submodules/git/sndio
	url = https://sndio.org/git/sndio
[submodule "submodules/karlstav/cava"]
	path = submodules/karlstav/cava
	url = https://github.com/karlstav/cava.git
