<!-- BEGIN: Footer -->

---

## Support

{% include "_support.j2" %}

---

## License

{% include "_license.j2" %}

{% include "_license_tldr.j2" %}

---

## People

### Authors

{% include "_authors.j2" %}

### Maintainers

{% include "_maintainers.j2" %}

### Contributors

{% include "_contributors.j2" %}

{% if repo.bottom_info %}

---

## Additional Information

{% include "_additional_info.j2" %}

{% endif %}

<!-- END: Footer -->
