{% macro badge(label='', text='', color='', logo='', logo_color='white', style='', url='') -%}
{%- set base_url = 'https://img.shields.io/badge/' -%}
{%- set escaped_label = (label | replace('-', '--')) if label else '' -%}
{%- set escaped_text = (text | replace('-', '--')) if text else '' -%}
{%- set parts = [escaped_label, escaped_text] | select() | join('-') -%}
{%- if color -%}
  {%- set badge_url = base_url ~ parts ~ '-' ~ color -%}
{%- else -%}
  {%- set badge_url = base_url ~ parts -%}
{%- endif -%}
{%- if logo or style -%}
  {%- set query = [] -%}
  {%- if logo -%}
    {%- set _ = query.append('logo=' ~ logo) -%}
    {%- set _ = query.append('logoColor=' ~ logo_color) -%}
  {%- endif -%}
  {%- if style -%}
    {%- set _ = query.append('style=' ~ style) -%}
  {%- endif -%}
  {%- set badge_url = badge_url ~ '?' ~ query | join('&') -%}
{%- endif -%}
{%- set img = '![' ~ label ~ '](' ~ badge_url ~ ')' -%}
{%- if url %}[{{ img }}]({{ url }}){% else %}{{ img }}{% endif -%}
{%- endmacro %}

{% macro state_badge(label='', state='', style='', url='', success_color='brightgreen', failed_color='red', skipped_color='lightgrey', unknown_color='orange') -%}
{%- set state_colors = {'success': success_color, 'failed': failed_color, 'skipped': skipped_color} -%}
{%- set s = state or 'unknown' -%}
{%- set color = state_colors.get(s, unknown_color) -%}
{{ badge(label, s, color, '', 'white', style, url) }}
{%- endmacro %}
