## Packages

{% for group in groups %}

### {{ group.label }}

{% if group.badge %}![{{ group.badge.logo | capitalize }}](https://img.shields.io/badge/{{ group.badge.logo | capitalize }}-{{ group.badge.color }}?logo={{ group.badge.logo }}&logoColor={{ group.badge.logo_color }}&style={{ badge_style }})

{% endif %}
{% for pkg in group.packages | sort(attribute='name') -%}
- `{{ pkg.name | lower }}` — {{ pkg.summary }}
{% endfor %}
{% endfor %}
