{% if no_debug_package %}
%global debug_package %{nil}
{% endif %}
{% if no_lto %}
%global _lto_cflags %{nil}
{% endif %}
{% if commit %}
%global commit {{ commit.full }}
%global shortcommit %(c=%{commit}; echo ${c:0:7})
%global commitdate {{ commit.date }}
{% endif %}
Name:           {{ name }}
Version:        {{ version }}
Release:        {{ release }}%{?dist}
Summary:        {{ summary }}
{% if buildarch %}
BuildArch:      {{ buildarch }}
{% endif %}
License:        {{ license }}
URL:            {{ url }}
{% for source in sources %}
Source{{ loop.index0 }}:        {{ source }}
{% endfor %}
{% for dep in bundled_deps %}
%global {{ dep.name }}_version {{ dep.version }}
Source{{ dep.source_index }}:        {{ dep.url }}
{% endfor %}

{% for dep in build_requires %}
BuildRequires:  {{ dep }}
{% endfor %}
{% for dep in requires %}
Requires:       {{ dep }}
{% endfor %}

%description
{{ description }}
{% if changelog.source_url or changelog.copr_url or changelog.tag or changelog.commit %}

Maintainer info:
{% if changelog.source_url %}
Source repository: {{ changelog.source_url }}
{% endif %}
{% if changelog.copr_url %}
COPR repository:   {{ changelog.copr_url }}
{% endif %}
Package info:
{% if changelog.tag %}
Tag:               {{ changelog.tag }}
{% endif %}
{% if changelog.commit %}
Commit:            {{ changelog.commit }}
{% endif %}
{% endif %}

%prep
%autosetup{% if commit %} -n {{ source_name or '%{name}' }}-%{commit}{% elif source_name %} -n {{ source_name }}-%{version}{% endif %}

{% for cmd in prep_commands %}
{{ cmd }}
{% endfor %}

%build
{{ build_cmd }}

%install
{{ install_cmd }}

%files
{% for f in files %}
{{ f }}
{% endfor %}
{% if devel %}

%package devel
Summary:        Development files for {{ summary }}
Requires:       %{name} = %{version}-%{release}
{% for dep in devel.requires %}
Requires:       {{ dep }}
{% endfor %}

%description devel
Development files for {{ name }}.

%files devel
{% for f in devel.files %}
{{ f }}
{% endfor %}
{% endif %}

%changelog
* {{ changelog.date }} {{ changelog.packager }} - {{ changelog.version }}-{{ changelog.release }}
{% for note in changelog.notes %}
- {{ note }}
{% endfor %}
